:root {

/* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
--base-fontsize: 1.15rem;

/* Major third scale progression - see https://type-scale.com/ */
--header-scale: 1.25;

/* Line height is set to the "Golden ratio" for optimal legibility */
--line-height: 1.618;


  --navbar-font-family: "Open Sans", Sans-serif;
  --navbar-bg-color: #2b2b2b;
  --navbar-link-color: rgb(30, 215, 96);
  --navbar-link-hover-color: rgb(30, 215, 96, 0.6);
  --navbar-cta-bg-color: rgb(91, 107, 110);
  --navbar-cta-bg-hover-color: rgba(0, 136, 169, 0.8);

  --body-bg-color: #222;
  --body-text-color: #edf0f1;
  --body-secondary-bg-color: rgb(91, 107, 110);;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--body-text-color);
}

body {
  background:var(--body-bg-color);
  font-size: var(--base-fontsize);
  line-height: var(--line-height);
  font-size: 16px;
}

a {
  cursor: pointer;
  color: var(--navbar-link-color);
}

a:hover {
  color: var(--navbar-link-hover-color);
}

header, .overlay {
  background-color: var(--navbar-bg-color);
  color: var(--navbar-link-color);
  font-family: var(--navbar-font-family);
}

header a, .overlay a {
  color: var(--navbar-link-color);
}

header {
  position: fixed;
  top: 0;
  width:100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

#check-toogle-menu {
  display: none;
}

header nav {
  display: none;
}

header ul {
  list-style: none;
}

.logo {
  font-size: 35px;
}

.cta {
  display: none;
}

.label-toogle-menu {
  cursor: pointer;
}

.label-toogle-menu svg rect {
  transition: fill 0.3s ease 0s;
}

.label-toogle-menu svg:hover rect {
  fill: var(--navbar-link-hover-color);
}

/* Mobile Nav Menu */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: var(--navbar-bg-color);
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

#check-toogle-menu:checked ~ .overlay {
  width: 100%;
}

.overlay-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:not(.cta):hover,
.overlay a:not(.cta):focus {
  color: var(--navbar-link-hover-color);
}

.overlay-content .cta {
  padding: 9px 25px;
  background-color: var(--navbar-cta-bg-color);
  border: none;
  border-radius: 50px;
  transition: background-color 0.3s ease 0s;
}

.overlay-content.cta:hover {
  background-color: var(--navbar-cta-bg-hover-color);
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: var(--navbar-link-color);
}

main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1;
  margin: 130px auto;
  max-width: 45rem;
  padding: 0 .5rem;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
}

/* Simple CSS */


/* Format headers */
h1 {
  font-size: calc(var(--base-fontsize) * var(--header-scale) * var(--header-scale) * var(--header-scale) * var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

h2 {
  font-size: calc(var(--base-fontsize) * var(--header-scale) * var(--header-scale) * var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

h3 {
  font-size: calc(var(--base-fontsize) * var(--header-scale) * var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

h4 {
  font-size: calc(var(--base-fontsize) * var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}

h5 {
  font-size: var(--base-fontsize);
  margin-top: calc(var(--line-height) * 1.5rem);
}

h6 {
  font-size: calc(var(--base-fontsize) / var(--header-scale));
  margin-top: calc(var(--line-height) * 1.5rem);
}


/* Format headers */

/* Format links & buttons */
a button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: .7rem .9rem;
  margin: .5rem 0;
  transition: .4s;
}

a button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][disabled],
select[disabled] {
  cursor: default;
  opacity: .5;
  cursor: not-allowed;
}

input:disabled,
textarea:disabled,
select:disabled {
  cursor: not-allowed;
  /*background-color: var(--disabled);*/
}

input[type="range"] {
  padding: 0;
}


section.post {
  margin-bottom: 25px;
  background-color: var(--body-secondary-bg-color);
  padding: 9px 25px;
  border-radius: 50px;
}

@media screen and (min-width: 400px) {
  .cta {
      display: block;
      padding: 9px 25px;
      background-color: var(--navbar-cta-bg-color);
      border: none;
      border-radius: 50px;
      transition: background-color 0.3s ease 0s;
  }

  .cta:hover {
      background-color: var(--navbar-cta-bg-hover-color);
  }
}

@media screen and (min-width: 800px) {

  header .label-toogle-menu {
      display: none
  }

  header nav {
      display: block;
  }

  header ul {
      display: flex;
  }

  header ul li {
      padding: 0 10px;
  }

  header ul li a {
      transition: color 0.3s ease 0s;
      font-weight: bold;
  }

  header ul li a:hover {
      color: var(--navbar-link-hover-color);
  }
}