:root {

  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
  --base-fontsize: 1.15rem;

  /* Major third scale progression - see https://type-scale.com/ */
  --header-scale: 1.25;

  /* Line height is set to the "Golden ratio" for optimal legibility */
  --line-height: 1.618;

  /* Default (light) theme */
  --bg: #FFF; /* background */
  --accent-bg: #BFD7EA; /* background du header */
  --text: #212121; /* texte */
  --text-light: #335C81; /* texte clair : footer */
  --border: #274060; /* bordure */
  --accent: #25a244; /* lien et border au survol */
  --accent-light: #b7efc5;
  --code: #1B2845;
  --preformatted: #444;
  --marked: #FFDD33;
  --disabled: #EFEFEF;
}

nav a {
  border: 1px solid var(--accent);
  color: var(--accent);
}

.ecoIndexA {
  color: green;
}

nav {
 background: var(--accent-bg); 
 position: -webkit-sticky; /* Safari */
 position: sticky;
 top: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: var(--accent-light);
}
