
header {
  beackground-color: #ffffff;  
}

header a {
  color: #000;  
}

a {
    color: #000;  
    text-decoration: none;
}

a[href]:after {
		content: ' (' attr(href) ')';
}

footer {
display:none;	
}
