<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/print.css" media="print" />
    <link rel="icon" href="/assets/images/favicon-32x32.png" />
    <title>{{ page.title }} - Numérique raisonné</title>
    <meta name="description" content="{{ page.description }}" />
    <link rel="canonical" href="https://www.numerique-raisonne.fr" />
    <meta property="og:title" content="Numérique raisonné" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:description" content="Site Internet personnel sur l’usage raisonné du numérique, le numérique responsable" />
    <meta property="og:url" content="https://www.numerique-raisonne.fr" />
    {% feed_meta %}
  </head>
  <body>

    <input type="checkbox" id="check-toogle-menu" />
    <header>
        <a class="logo" href="/" id="top">Numérique raisonné</a>
        <nav>
          {% include navigation.html %}
        </nav>

        <div class="switch ">
            <input class="switch__input" type="checkbox" id="switch-checkbox-1">
            <label class="switch__label" for="switch-checkbox-1" aria-hidden="true">Option label</label>
            <div class="switch__marker" aria-hidden="true"></div>
        </div>

        <label for="check-toogle-menu" class="label-toogle-menu">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="34px" height="27px" viewBox="0 0 34 27" enable-background="new 0 0 34 27" xml:space="preserve">
                <rect fill="#edf0f1" width="34" height="4"/>
                <rect y="11" fill="#edf0f1" width="34" height="4"/>
                <rect y="23" fill="#edf0f1" width="34" height="4"/>
            </svg>
        </label>
    </header>
    
    <div class="overlay">
        <label for="check-toogle-menu" class="label-toogle-menu"><a class="close">&times;</a></label>
        <div class="overlay-content">
          {% include navigation.html %}
        </div>
    </div>

      <main>
        {{ content }}
      </main>
      <footer>
        <p>Numérique raisonné</p>
      </footer>


    <script src="/assets/js/script.js"></script>
  </body>
</html>
