<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/print.css" media="print">
    <link rel="icon" href="../assets/images/favicon-32x32.png" />
    <title>{{ page.title }} - Numérique raisonné</title>
    <meta name="description" content="{{ page.description }}" />
    {% feed_meta %}
  </head>
  <body>
      <header>
        <h1><a href="/">Numérique raisonné</a></h1>
        <p>Pour un numérique plus responsable !</p>
        {% include navigation.html %}
      </header
      <main>
        {{ content }}
      </main>
      <footer>
        <p>Numérique raisonné</p>
      </footer>
  </body>
</html>
