---
layout: default
---

<p>📅 {{ page.date | date: "%-d" }}
{% assign m = page.date | date: "%-m" %}
{% case m %}
  {% when '1' %}janvier
  {% when '2' %}février
  {% when '3' %}mars
  {% when '4' %}avril
  {% when '5' %}mai
  {% when '6' %}juin
  {% when '7' %}juillet
  {% when '8' %}août
  {% when '9' %}septembre
  {% when '10' %}octobre
  {% when '11' %}novembre
  {% when '12' %}décembre
{% endcase %}
{{ page.date | date: "%Y" }}</p>

{% if page.tags.size > 0 %}
  Tag{% if page.tags.size > 1 %}s{% endif %}:

        {% for tag in page.tags %}

          <a href="/tags#{{tag}}">{{ tag | replace: "-", "&nbsp;" }}</a>

        {% endfor %}

  {{ page.tags | sort | join: ", " }}
{% endif %}

{{ content }}
